extends includes/layout.pug

block content
  article
    h1 Les lacs de Biscarosse
    section 
      h2 Histoire et présentation des lacs
      p Les lacs de Biscarrosse, situés dans les Landes, forment un ensemble naturel exceptionnel qui regroupe trois étendues d’eau principales : le lac de Biscarrosse-Parentis, le lac de Cazaux-Sanguinet, et le petit lac de Biscarrosse. Leur origine remonte à la période post-glaciaire, lorsque les dunes ont isolé les marais côtiers, formant des lacs d’eau douce au cœur de ce paysage landais. Au fil des siècles, ces lacs ont été des lieux stratégiques tant pour leurs ressources que pour leur situation géographique.
      figure
        img(src=baseURL + '/assets/img/lac.webp' alt="Les lacs de Biscarosse")
        figcaption Les lacs de Biscarosse 
      p 
        | Aujourd’hui, les lacs de Biscarrosse sont des lieux de villégiature très prisés, notamment pour les 
        a(href=baseURL + '/loisirs.html#ActivitesNautiques' title="Les activités nautiques") 
          | activités nautiques 
        | et les 
        a(href=baseURL + '/loisirs.html#Randonnees' title="Les randonnées et balades")
          | balades en forêt.
        |  Ils sont également des sites naturels protégés, où l’on peut observer une faune et une flore riches et variées.
    section
      h3 Le passé militaire de la région
      p 
        | Pendant la Première Guerre mondiale, Biscarrosse et ses lacs ont joué un rôle important dans le domaine militaire. La vaste étendue d'eau et son environnement relativement isolé en ont fait un lieu privilégié pour l'implantation de bases aéronautiques. En 1930, l'hydrobase de Biscarrosse a vu le jour, devenant une plaque tournante pour les hydravions civils et militaires. C’est ici que des essais d'hydravions se sont succédé, notamment ceux des appareils produits par la société Latécoère, qui joua un rôle clé dans l'aviation française. Aujourd’hui, ce patrimoine est mis en valeur à travers le 
        a(href=baseURL + '/loisirs.html#MuseeHydraviation' title="Musée de l’Hydraviation")
          | Musée de l’Hydraviation,
        | situé à proximité du lac, retraçant l’histoire de l’aviation maritime.
      p La base aérienne militaire de Cazaux, située au sud-est du lac de Cazaux-Sanguinet, est toujours en activité et fait partie intégrante du paysage local. Elle accueille des avions de chasse et des unités de formation militaire. Le survol occasionnel de la zone par des avions d'entraînement ajoute une dimension particulière à la quiétude du site.
      figure
        img(src=baseURL + '/assets/img/basemilitaire.webp' alt="Base aérienne de Cazaux")
        figcaption La base aérienne de Cazaux © Ministère des Armées © Ministère des Armées

    section
      h3 La réserve des Canadairs
      p Le lac de Parentis-Biscarrosse est également connu pour abriter une base de la Sécurité Civile, spécialisée dans la lutte contre les incendies de forêt. Les Canadairs, ces avions bombardiers d'eau, y trouvent leur base opérationnelle, prêts à décoller en cas de besoin pour éteindre les feux qui menacent les forêts landaises. Cette unité aérienne est un maillon essentiel de la protection de l'environnement et de la sécurité des populations locales.
      figure
        img(src=baseURL + '/assets/img/canadair.webp' alt="Hydravion sur le lac de Biscarrosse")
        figcaption Un Canadair sur le lac de Parentis-Biscarrosse © Ludovic Hoaereau 
      p Cette unité s'est illustré en 2023 lors de l'incendie qui a ravagé une partie de la forêt des Landes, mobilisant ses moyens aériens pour circonscrire le feu et protéger les habitations. La base de Biscarrosse est un lieu stratégique pour ces interventions, permettant aux Canadairs de se ravitailler en eau et de repartir rapidement sur les zones sinistrées.
    section
      h4 Un site naturel préservé
      p Malgré ces activités humaines, les lacs ont su préserver une grande richesse écologique. Les eaux limpides et les berges boisées accueillent une faune et une flore diversifiées. De nombreuses espèces d’oiseaux, comme le héron cendré et la sterne pierregarin, y trouvent refuge, tandis que les poissons d’eau douce tels que le brochet ou le sandre prospèrent dans les lacs.
      figure
        img(src=baseURL + '/assets/img/heron.webp' alt="Héron cendré sur le lac de Biscarrosse")
        figcaption Héron cendré sur le lac de Biscarrosse © Daniel Magin
      p Ces plans d’eau sont également un lieu de détente et de loisirs, offrant aux visiteurs un cadre paisible où se mêlent histoire, nature, et activités nautiques. La préservation de l’environnement est une priorité ici, garantissant aux générations futures de profiter de ce trésor naturel tout en respectant son fragile équilibre.
      p 
        | Les forêts de pins maritimes qui entourent les lacs sont également un écosystème précieux, abritant une biodiversité exceptionnelle. Les sentiers de randonnée et 
        a(href=baseURL + '/localisation.html#PistesCyclables' title="Les pistes cyclables") les pistes cyclables 
        | qui sillonnent les bois permettent de découvrir ces paysages préservés et de profiter de la quiétude des lieux.
      figure
        img(src=baseURL + '/assets/img/foret.webp' alt="Forêt de pins maritimes autour des lacs")
        figcaption Forêt de pins maritimes autour des lacs @ Sud-Ouest
  .asides
    aside 
      h4 Carte des lacs
      figure
        img(src=baseURL + '/assets/img/carte_lac.webp' alt="Carte des lacs de Biscarosse")
        figcaption Carte des lacs de Biscarosse © Office de Tourisme de Biscarrosse
      p Cette carte vous permet de visualiser la localisation des lacs de Biscarrosse et des principaux sites d'intérêt aux alentours. N'hésitez pas à l'imprimer pour préparer votre visite&nbsp;!

    aside 
      h4 Biscarosse en chiffres 
      dl
        dt Population (hiver)
        dd 14 000 habitants
        dt Population (été)
        dd 60 000 habitants
        dt Superficie
        dd 151 km²
        dt Altitude
        dd 0 à 66 mètres
        dt Température moyenne
        dd 15°C
        dt Pluviométrie
        dd 1 200 mm/an