extends includes/layout.pug

block content
  article
    h1 Les loisirs à Biscarosse
    header 
      p Les lacs de Biscarrosse offrent un large éventail d’activités, que vous soyez amateur de sensations fortes, amoureux de la nature ou adepte de détente. Que ce soit sur l’eau, sur les sentiers environnants, ou même en intérieur lorsque le temps est moins clément, il y a toujours de quoi faire. Découvrez les loisirs proposés autour des lacs de Biscarrosse et trouvez l’activité qui vous correspond !
    section.tallest 
      h3#ActivitesNautiques Activités nautiques : voile, ski nautique et pêche
      p Les lacs de Biscarrosse sont parfaits pour les amateurs de sports nautiques. La voile est une activité phare ici, grâce aux eaux calmes et aux bonnes conditions de vent. Vous trouverez plusieurs clubs de voile qui proposent des cours et des locations de bateaux, allant des dériveurs aux catamarans. Pour les amateurs de sensations fortes, le ski nautique et le wakeboard sont également très populaires. Des écoles et des prestataires locaux proposent des initiations et des stages pour tous les niveaux. 
      figure
        img(src=baseURL + '/assets/img/optimist.webp', alt="Des Optimistes sur le lac de Biscarrosse")
        figcaption Voile sur le lac de Biscarrosse
      p Les amateurs de pêche trouveront également leur bonheur. Le lac de Biscarrosse-Parentis est réputé pour la richesse de ses eaux poissonneuses, abritant des espèces telles que le brochet, le sandre, la carpe et la perche. Que vous soyez adepte de la pêche au coup, au leurre ou à la mouche, plusieurs points d’accès au lac vous permettent de pêcher dans un cadre paisible et enchanteur. Des permis de pêche journaliers ou hebdomadaires sont disponibles à l’achat auprès des offices de tourisme ou en ligne.
      figure
        img(src=baseURL + '/assets/img/pecheur.webp', alt="Pêche sur le lac de Biscarrosse")
        figcaption Pêche sur le lac de Biscarrosse
      p Le paddle, le kayak, et le canoë sont d’autres activités nautiques très appréciées sur les lacs. Ces embarcations silencieuses vous permettent de découvrir les rives et les îles en toute tranquillité, tout en profitant du calme et de la beauté des lieux. Des locations de matériel sont disponibles sur place, et des circuits balisés vous guident à travers les eaux paisibles des lacs.
      figure
        img(src=baseURL + '/assets/img/paddle.webp', alt="Paddle sur le lac de Biscarrosse")
        figcaption Paddle sur le lac de Biscarrosse
    section
      h3#Randonnees Randonnées et balades en forêt, à pied ou à vélo
      p Autour des lacs, de nombreux sentiers balisés offrent des parcours pour les randonneurs et les cyclistes de tous niveaux. Le Sentier des Lacs, qui longe les berges, est idéal pour une balade en pleine nature. Ce circuit vous permet de découvrir la faune et la flore locales, tout en profitant des vues panoramiques sur les eaux scintillantes des lacs.
      p Pour les amateurs de cyclotourisme, Biscarrosse est un point de départ de nombreuses pistes cyclables. La Vélodyssée, un itinéraire cyclable de plus de 1200 km qui longe l'Atlantique, passe par la région. C’est un excellent moyen de découvrir les alentours, tout en pédalant à travers les forêts de pins et les dunes.
      figure
        img(src=baseURL + '/assets/img/randonnee.webp', alt="Randonnée en famille à Vélo")
        figcaption Randonnée en famille à Vélo
    section
      h3 Les Plages des Lacs : baignade et farniente
      p Idéales pour les familles, les plages des lacs de Biscarrosse offrent un cadre sécurisé pour la baignade et les activités de plage. Les eaux douces et peu profondes sont parfaites pour les enfants, qui peuvent s’amuser en toute tranquillité. 
      figure
        img(src=baseURL + '/assets/img/plage_sable.webp', alt="Château de sable sur la plage du lac de Biscarrosse")
        figcaption Château de sable sur la plage du lac de Biscarrosse
      p 
        em La baignade surveillée est assurée pendant la saison estivale, et des aires de pique-nique et de jeux sont aménagées pour le confort des visiteurs. 
      p Les plages sont également le lieu idéal pour se détendre au soleil, lire un livre à l’ombre des pins, ou simplement profiter du calme et de la sérénité des lieux.
    section
      h3 Que faire quand il pleut ? Visites et activités en intérieur
      p Si le temps n’est pas de la partie, pas de panique ! Biscarrosse et ses environs regorgent de sites culturels et de loisirs en intérieur pour occuper toute la famille.
      h4#MuseeHydraviation Musée de l’Hydraviation
      p Situé à proximité du lac de Biscarrosse, le Musée de l’Hydraviation retrace l’histoire de l’aviation maritime à travers une collection d’hydravions et d’objets historiques. Vous pourrez découvrir les premiers vols en hydravion, les exploits des pionniers de l’aviation, et l’évolution des techniques aéronautiques. Des maquettes, des simulateurs de vol, et des expositions temporaires complètent la visite.
      figure
        img(src=baseURL + '/assets/img/hydraviation.webp', alt="Musée de l’Hydraviation")
        figcaption Musée de l’Hydraviation © Musée de l’Hydraviation
      h4 Ecomusée de Marquèze
      p À une trentaine de kilomètres de Biscarrosse, l’Ecomusée de Marquèze vous plonge dans la vie rurale landaise du XIXe siècle. Ce site préservé reconstitue un village traditionnel avec ses maisons à colombages, son moulin à eau, et ses ateliers artisanaux. Vous pourrez découvrir les métiers d’autrefois, les traditions locales, et les savoir-faire ancestraux à travers des démonstrations et des animations.
      figure
        img(src=baseURL + '/assets/img/ecomusee.webp', alt="Ecomusée de Marquèze")
        figcaption Ecomusée de Marquèze © Ecomusée de Marquèze
    section
      h3 Activités pour les enfants : parcs d’attractions et zoos
      p Les familles avec enfants trouveront de nombreuses activités ludiques et éducatives à Biscarrosse et dans ses environs. Parcs d’attractions, zoos, aires de jeux, et fermes pédagogiques sont autant de lieux où les enfants peuvent s’amuser et découvrir la nature.
      h4 Accrobrance 
      p Situé à Biscarrosse-Plage, le parc Accrobranche propose des parcours acrobatiques dans les arbres pour les petits et les grands. Tyroliennes, ponts de singe, et sauts de Tarzan sont au programme, pour une journée pleine de sensations et de rires.
      figure
        img(src=baseURL + '/assets/img/accrobranche.webp', alt="Parc Accrobranche")
        figcaption Parc Accrobranche 
      h4 Aquapark Maguide
      p À Sanguinet, l’Aquapark Maguide est un parc aquatique gonflable installé sur le lac de Cazaux-Sanguinet. Toboggans, trampolines, et structures gonflables flottantes offrent des heures de jeux et de rires pour les enfants et les adultes. La baignade surveillée et les aires de pique-nique en font un lieu idéal pour une journée en famille.
      figure
        img(src=baseURL + '/assets/img/aquaparc.webp', alt="Aquapark Maguide")
        figcaption Aquapark Maguide © Aquapark Maguide
    footer 
      p Que vous soyez en quête de sensations fortes, de découvertes culturelles, ou de moments de détente en famille, les lacs de Biscarrosse vous offrent une multitude d’activités pour tous les goûts. N’hésitez pas à consulter les sites officiels des prestataires pour connaître les horaires, les tarifs, et les conditions d’accès. Bon séjour à Biscarrosse !
      
      
  aside.extLinks
    h5 Liens Utiles
    ul
      li
        a(href="https://www.biscarrosse.fr" title="Site officiel de la ville de Biscarrosse" rel="noreferer" target="_blank")
          | Site officiel de la ville de Biscarrosse
      li
        a(href="https://www.tourisme-landesdargent.com" title="Office de tourisme des Landes d'Argent"  rel="noreferer" target="_blank") Office de tourisme des Landes d'Argent
      li
        a(href="https://www.lacs-landes-gascogne.fr" title="Lacs de Biscarrosse et des Landes de Gascogne"  rel="noreferer" target="_blank") Lacs de Biscarrosse et des Landes de Gascogne
      li
        a(href="https://www.biscagrandslacs.fr" title="Communauté de communes des Grands Lacs"  rel="noreferer" target="_blank") Communauté de communes des Grands Lacs
      li
        a(href="https://www.hydravions-biscarrosse.com" title="Musée de l’Hydraviation"  rel="noreferer" target="_blank")
          | Musée de l’Hydraviation
      li
        a(href="https://www.marqueze.fr" title="Ecomusée de Marquèze"  rel="noreferer" target="_blank") Ecomusée de Marquèze
      li
        a(href="https://www.accrobranche-biscarrosse.fr" title="Parc Accrobranche"  rel="noreferer" target="_blank") Parc Accrobranche
      li
        a(href="https://www.aquapark-maguide.fr" title="Aquapark Maguide"  rel="noreferer" target="_blank") Aquapark Maguide
